$blue:        #0076A3;
$darkblue:    #022933;
$offwhite:    #F9F7F7;

$color-main: $darkblue;
$color-background: $offwhite;
$color-main-background: darken($blue, 15%);
$color-primary: var(--primary-500);
$green-100: var(--green-100);
$green-200: var(--green-200);

$font-main: "Open Sans", "Helvetica Neue", sans-serif;