@import "../../../../styles/mixins.scss";

:host{
    ::ng-deep {
        .ui-listbox,
        .grid {
            width: 100%;
        }
        .p-listbox-item .col {
            padding: 0;
        }
    }
}

.page-header-action {
    @include clearfix;
    h3 {
        float: left;
        margin-top: 1rem;
    }
    button {
        float: right; 
        position: relative; 
        top: 20px; 
        right: 9px;
    }
}

.delete button {
    float: right;
    margin-right: 0.5rem;
}
.path {
    padding-top: 0.5rem;
}