<div class="row-100 pd-1">
    <div class="grid" *ngIf="book">
        <div class="col-2 book-image">
            <img [src]="imageService.prepareBase64Image(book.file.image)">
            <div class="actions">
                <button (click)="download()" pButton type="button" icon="pi pi-download" iconPos="left" label="Download"></button>
                <p-splitButton icon="pi pi-pencil" (onClick)="edit()" [model]="commands"></p-splitButton>
            </div>
        </div>
        <div class="col-10">
            <h3>{{book.title}}</h3>
            <h4>{{book.authors}}</h4>
            <div *ngIf="book.metadata">
                <span *ngIf="book.metadata.year" class="published">Published in <span class="year">{{book.metadata.year}}</span></span>
                <span *ngIf="book.metadata.year && book.metadata.pages"> - </span>
                <span *ngIf="book.metadata.pages" class="pages">{{book.metadata.pages}} pages</span>
            </div>
            <div class="description" [innerHTML]="book.description"></div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation"></p-confirmDialog>
    <p-toast></p-toast>
</div>